/*
md-checkbox.dotted .md-icon {
 border-width: 1px;
 border-style: dashed;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(16,108,200);
    color: rgba(255,255,255,0.87);
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }
*/
md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
  }
table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
/*height:35px;*/
  }
table.md-table tbody.md-body>tr td {
font-size:14px;
}
table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
text-align:left;
}
table.md-table tbody.md-body>tr.md-row:not([disabled]):hover {
    background-color: #eee!important
}
h3 {
margin:5px 0;
}
.spell-word {

position:absolute;
top:40%;
width:100%;
text-align:center;
font:normal 80px Consolas,Monaco,monospace;
color:#000;
text-shadow: 5px 5px 5px #ccc;
}

