/*
md-checkbox.dotted .md-icon {
border-width: 1px;
border-style: dashed;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
background-color: rgb(16,108,200);
color: rgba(255,255,255,0.87);
}
.inputdemoErrors .inputErrorsApp {
min-height: 48px; }

.inputdemoErrors md-input-container > p {
font-size: 0.8em;
text-align: left;
width: 100%; }
 */
md-content .ext-content {
	padding: 50px;
	margin: 20px;
	background-color: #FFF2E0; 
}
table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
	/*height:35px;*/
}
table.md-table tbody.md-body>tr.selected {
	background:#c5eeee;
	/* font-weight: bold; */
	box-shadow: inset 0px 0px 10px rgb(139, 219, 202);

}
/*
table.md-table tbody.md-body>tr:focus {
	outline-color: #ccc;
	outline-style: dashed;
	outline-width: 2px;
	background:#c5eeee;
	font-weight: bold;

}
*/

table.md-table tbody.md-body>tr td {
	font-size:14px;
}
table.md-table tbody.md-body>tr td p {
	margin:0;
}
table p:focus {
	outline:none;

}
/* table.md-table tbody.md-body>tr td:focus {
	font-weight: bold;
	text-shadow: 2px 3px 6px #ccc;
}
 */
table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric {
	text-align:left;
}

table.md-table tbody.md-body>tr.md-row:not([disabled]):hover {
	background-color: #eee!important;
	cursor: pointer;
}
h3 {
	margin:5px 0;
}
.spell-word {
	opacity:0;
	position:absolute;
	top:30%;
	width:100%;
	text-align:center;
	font:normal 90px Consolas,Monaco,monospace;
	color:#000;
	text-shadow: 5px 5px 5px #ccc;
	transition: opacity 0.5s;
}
.spell-word.active {
	opacity:1;
}

.fileContent {
padding-top:50px;
}
.gridList md-grid-list {
margin: 8px; }

.gridList img.icon {
	width: 50%;
	height: 50%; 
}


.gridList .gray {
background: #f5f5f5; }

.gridList .green {
background: #b9f6ca; }

.gridList .yellow {
background: #ffff8d; }

.gridList .blue {
background: #84ffff; }

.gridList .purple {
background: #b388ff; }

.gridList .red {
background: #ff8a80; }

.gridList md-grid-tile {
	cursor:pointer;
	transition: all 400ms ease-out 50ms;
}
.gridList md-grid-tile.active {
	background-color:#cecece;
}
.gridList md-grid-tile md-grid-tile-footer {
	background:transparent;
	color:#555;
	height:auto;
}
.gridList md-grid-tile-footer figcaption {
	width:100%;
}
.gridList md-grid-tile-footer figcaption h3 {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.path-nav {
	position:fixed;
	width:100%;
	background-color:#fff;
	z-index:50;
	top:50px;
	left:0;
	padding-left:20px;
}
.path-nav button {
	width:auto;
	padding:0;
	margin:0;
	min-width:0;
	text-transform:none;
}
.tag-nav {
	position:fixed;
	width:20%;
	z-index:50;
	top:100px;
	left:0;
	padding:0 0 20px 15px;
	height:90%;
	overflow:scroll;

}
.init-box {
	border:1px solid #cecece;
	padding:10px 5px;
}
.word-box.dict {

	background: #ddd;

}
.word-container.layout-fill {

	/* overflow: hidden; */

}
table.focus {
	box-shadow: inset 0px 0px 20px #ccc;
}
