<div layout="column"  ng-init="ctrl.initialize()" ng-cloak>

   <section layout="row" class="path-nav" >
	   <md-button ng-click="ctrl.dirClick(path)" ng-disabled="$index == (pathList.length -1)" ng-repeat="path in pathList">{{path + '/'}}</md-button>
    </section>

	<section layout="column" class="tag-nav" >
		<md-button class="md-raised " ng-click="ctrl.browse()">浏览影片库</md-button>

		<md-select ng-model="curlibrary" placeholder="请选择影片库" class="md-underline">
			<md-option ng-value=""><em>请选择影片库</em></md-option>
		  <md-option ng-value="2" >全部库</md-option>
		  <md-option ng-value="3" >本地库</md-option>
        </md-select>


	<md-button class="md-raised md-primary" ng-click="showInit = !showInit">初始化选项</md-button>
	
	   <div layout-align=center" class="init-box" ng-show="showInit">
		  
		   <div class="sel-box" ng-show="curSel == 'localDir'">
			   		 <p>本地硬盘或者目录</p>
			<md-select ng-model="curDisk" ng-change="ctrl.changesel()" placeholder="请选择" class="md-underline">
				<md-option ng-value=""><em>请选择</em></md-option>
			  <md-option ng-value="localdir" ng-repeat="localdir in localDirlist">{{localdir}}</md-option>
			</md-select>
		   </div>
		   


		   <div class="sel-box" ng-show="curSel == 'extenalDisk'">
				  <p>外接硬盘</p>
			<md-select ng-model="curDisk" ng-change="ctrl.changesel()" placeholder="请选择硬盘" class="md-underline">
				<md-option ng-value=""><em>请选择硬盘</em></md-option>
			  <md-option ng-value="disk" ng-repeat="disk in disklist">{{disk}}</md-option>
			</md-select>
		   </div>

	 <md-radio-group ng-model="curSel">
      <md-radio-button value="localDir" class="md-primary">local</md-radio-button>
      <md-radio-button value="extenalDisk"> extenal </md-radio-button>
    </md-radio-group>

      
	<md-button class="md-raised " ng-click="ctrl.initDB()">	<md-tooltip md-direction="top">
	创建数据库文件及目录
	 </md-tooltip>创建数据</md-button>
	<md-button class="md-raised md-warn" ng-click="ctrl.scan()">扫描磁盘</md-button>
	</div>

	  
	<md-button class="md-raised " ng-show="dataPath" ng-click="ctrl.userDir(dataPath)">
	<md-tooltip md-direction="top">
	{{dataPath}}
	 </md-tooltip>	
data目录</md-button>

	<md-button class="md-raised " ng-click="ctrl.userDir()">打开用户目录</md-button>

        <md-divider ></md-divider>
        <md-list-item class="md-2-line" ng-click="null">
          <img ng-src="./assets/icons/folder.png" class="md-avatar" alt="{{todos[0].who}}" />
          <div class="md-list-item-text">
            <h3>文件</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>
    </section>


<md-content layout="row" class="fileContent" >

<div flex="20">

</div>

<div class="gridList" flex="80">
    <md-grid-list ng-hide="movieList && movieList.length > 0"
    md-cols="6" md-cols-md="10"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="8px" >

    <!--<md-grid-tile  ng-repeat="file in fileList" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" md-colspan-gt-sm="1" md-rowspan-gt-sm="1">-->
	<md-grid-tile  ng-repeat="file in fileList" md-rowspan="1" md-colspan="1" ng-class="{true: 'active',false:''}[ctrl.curItemIndex == $index]" ng-click="ctrl.curItemIndex = $index" ng-dblclick="ctrl.itemClick(file)">
	 <md-tooltip md-direction="top">
	
	 {{file[2].mtime}} <br />
	 {{file[2].size}}<br />
	
	 </md-tooltip>
		<img class="icon" ng-src="./assets/icons/{{file[1] || 'text'}}.png" />
      <md-grid-tile-footer>
        <h3	>{{file[0]}}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>

   <md-grid-list ng-show="movieList && movieList.length > 0"
        md-cols-gt-md="12" md-cols="8" md-cols-md="10"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="8px" >

		<md-grid-tile  ng-repeat="movie in movieList" md-rowspan="2" md-colspan="2" ng-class="{true: 'active',false:''}[ctrl.curItemIndex == $index]" ng-click="ctrl.curItemIndex = $index" ng-dblclick="ctrl.sysOpen(movie['path'] + movie['name'])">
	 <md-tooltip md-direction="top">
	 {{movie['name']}} {{movie.filetype}}
	 </md-tooltip>
		<img class="icon" ng-src="./assets/icons/{{'movie'}}.png" />
      <md-grid-tile-footer>
	  <h3>{{movie['name']|limitTo:5}}...</h3>
	      <md-menu>
      <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
        <md-icon class="material-icon">menu</md-icon>
      </md-button>
      <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
        <md-menu-item >
          <md-button ng-click="ctrl.sysOpen(curDisk + movie['path'] + movie['name'])">
           在文件夹中打开
          </md-button>
        </md-menu-item>
		<md-menu-item >
		
          <md-button ng-click="ctrl.thumTojpg(curDisk + movie['path'],movie['name'])">
           生成缩略图
          </md-button>
        </md-menu-item>

			<md-menu-item >		
     
          <md-button ng-click="null">
           tags
          </md-button>
        </md-menu-item>
    </md-menu>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>

  </div>

    </md-content>

</div>
