
<!-- <div layout="column" class="word-container" layout-fill ng-init="ctrl.initialize()" > -->
<div flex layout="row" class="word-container" layout-fill ng-init="ctrl.initialize()" >
		
	<div flex-sm="50" flex-gt-sm="50" class="left-info">
		
	<form ng-submit="$event.preventDefault()">
      <md-autocomplete
		md-no-cache="ctrl.noCache"
          md-selected-item=""
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
		  md-items="item in ctrl.searchResults(ctrl.searchText)"
          md-item-text="item['words']"
          md-min-length="1"
          placeholder="Search a word?">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item['words']}}</span>
        </md-item-template>
        <md-not-found>
          No words matching "{{ctrl.searchText}}" were found.
          <a >Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
	 
		</form>

   <!-- exact table from live demo -->
    <md-table-container>
     <table md-table >
    <thead md-head >
      <tr md-row>
            <!--<th md-column md-numeric wordResult ng-repeat="col in wordResult.columns">{{col}}</th>    
			<th md-column md-numeric wordResult >{{wordResult.columns[1]}}</th>     
			<th md-column md-numeric wordResult >{{wordResult.columns[2]}}</th> 
			  -->
			<th md-column md-numeric wordResult >words</th> 
			<th md-column md-numeric wordResult >meaning</th> 
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="items in wordResult"  ng-class="{true:'selected',false:''}[currentItemIndex == $index]">
            <!--<td md-cell ng-repeat="item in items">{{item}}</td>                     -->
			<td md-cell ng-click="ctrl.selectWord(items,null,$index)"  >{{items['words']}}</td>                    
			<td md-cell ng-click="ctrl.selectWord(items,null,$index)" >{{items['meaning']}}</td>
			<td md-cell > <md-button ng-click="ctrl.updateWords(items)">
				<md-icon class="material-icon">add</md-icon>
			</md-button></td>                       
        </tr>
        </tbody>
    </table>
    </md-table-contaner>

  <md-table-pagination md-dense md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{'5500'}}" md-on-paginate="getItems" md-page-select ></md-table-pagination>	
	</div>

	<!--col-md-5 end//-->

	<div flex-sm="50" flex-gt-sm="50" class="right-info" >


	<md-content class="md-padding box" ng-show="shell.currentNavItem == 'info'">
			<div ng-show="!selectedWord">
					<h2 > No word selected</h2>
					<p  class="md-body-2"> Choose one</p>

					<!-- <p class="md-display-4">Headline</p>  -->
			</div>

			<!-- word box begin -->
			<div class="word-box" ng-show="selectedWord" ng-class="{true:'dict',false:''}[tableName == 'dict']">

					<h3>{{selectedWord.wordname}} </h3> 
	  <p>
	  英{{selectedWord.phonetic[0]}} &nbsp;&nbsp; 美{{selectedWord.phonetic[1]}} 
	   <md-button class="md-secondary md-icon-button" ng-click="ctrl.play(selectedWord.id,selectedWord.wordname)" aria-label="call">
	  <md-icon class="material-icon">queue_music</md-icon>
	   </md-button>
	  </p>
	  <p>
	  {{selectedWord.desc}}
	  </p>
	<h3 >词组短语 </h3>
		<md-list>
	  <md-list-item class="md-2-line" ng-repeat="wordgroup in selectedWord.wordGroup" ng-click="ctrl.speak(wordgroup)" >
	  <!--<md-button> {{wordgroup}}	 </md-button>-->
	  <div class="md-list-item-text" >{{wordgroup}}</div>
	  </md-list-item>
	</md-list>
	<h3>双语列句 </h3>

	<md-list>
	  <md-list-item class="md-3-line" ng-repeat="exp in selectedWord.example track by $index"  ng-click="ctrl.speak(exp,'baiduAi')">
	<div class="md-list-item-text">
	<p>{{exp}}</p>
	 </div>
	  </md-list-item>
	</md-list>

	<h3 class="md-subhead" ng-show="tableName == 'dict'">This is from {{tableName}}</h3>

			</div>

			<!-- wordbox end // -->
			
			</md-content>

			<!-- tab 2 begin  -->
	<!-- 当前历史单词 -->
	<md-content class="md-padding" ng-show="shell.currentNavItem == 'recent'">
			<md-list class="md-dense" flex>
					<md-list-item class="md-3-line" ng-repeat="item in currentHistory track by $index" ng-click="ctrl.searchWordSpec(item.word)">
					<div class="md-list-item-text">
						<h2 class="md-headline">	{{item.word}}</h2>						
				</div>
				</md-list-item>
				<md-list>
					
		</md-content>		

<!-- tab 3 begin  -->
	<!-- 历史单词 -->
			<md-content class="md-padding" ng-show="shell.currentNavItem == 'history'">
					<md-list class="md-dense" flex>
							<md-list-item class="md-3-line" ng-repeat="item in historyWords track by $index" ng-click="ctrl.searchWordSpec(item.word)">
							<div class="md-list-item-text">
								<h2 class="md-headline">	{{item.word}}</h2>						
						</div>
						</md-list-item>
						<md-list>
							
				</md-content>		
			
		</div>
	
	</div>

	</div>
<!--row end-->

  <!--<div flex layout-gt-sm="row" layout-sm="column" layout-align="center">
	  <h3>{{selectedWord[1]}} </h3>
	  <p>
	  {{selectedWord[2]}}
	  </p>
  </div>-->

   <!--<centered ng-show="spellWordName">-->
    <div class="spell-word title-h typing">
     {{ spellWordName }}
    </div>
  <!--</centered>-->
 

	<!-- dialog div begin -->
	<div style="visibility: hidden">
			<div class="md-dialog-container" id="myDialog">
				<md-dialog layout-padding>
							<!-- word box begin -->
			<div class="word-box" ng-class="{true:'dict',false:''}[tableName == 'dict']">

					<h3>{{selectedWordDialog.wordname}} </h3> 
	  <p>
	  英{{selectedWordDialog.phonetic[0]}} &nbsp;&nbsp; 美{{selectedWordDialog.phonetic[1]}} 
	   <md-button class="md-secondary md-icon-button" ng-click="ctrl.play(selectedWordDialog.id,selectedWordDialog.wordname)"  aria-label="call">
	  <md-icon class="material-icon">queue_music</md-icon>
	   </md-button>
	  </p>
	  <p>
	  {{selectedWordDialog.desc}}
	  </p>
	<h3 >词组短语 </h3>
		<md-list>
	  <md-list-item class="md-2-line" ng-repeat="wordgroup in selectedWordDialog.wordGroup" ng-click="null" >
	  <!--<md-button> {{wordgroup}}	 </md-button>-->
	  <div class="md-list-item-text" >{{wordgroup}}</div>
	  </md-list-item>
	</md-list>
	<h3>双语列句 </h3>

	<md-list>
	  <md-list-item class="md-3-line" ng-repeat="exp in selectedWordDialog.example track by $index"  ng-click="null">
	<div class="md-list-item-text">
	<p>{{exp}}</p>
	 </div>
	  </md-list-item>
	</md-list>

	<h3 class="md-subhead" ng-show="tableName == 'dict'">This is from {{tableName}}</h3>

			</div>

			<!-- wordbox end // -->
				</md-dialog>
			</div>


		</div>

  
<!-- </div> -->
 
