<div layout="column" layout-fill ng-init="ctrl.initialize()">
<div flex layout="row" layout-padding>
		
	<div flex-sm="50" flex-gt-sm="50">
		
	<form ng-submit="$event.preventDefault()">
      <md-autocomplete
		md-no-cache="ctrl.noCache"
          md-selected-item=""
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
		  md-items="item in searchResults"
          md-item-text="item[1]"
          md-min-length="1"
          placeholder="Search a word?">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item[1]}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
	 
    </form>

   <!-- exact table from live demo -->
    <md-table-container>
     <table md-table class="md-row-select">
    <thead md-head >
      <tr md-row>
            <!--<th md-column md-numeric wordResult ng-repeat="col in wordResult.columns">{{col}}</th>      -->
			<th md-column md-numeric wordResult >{{wordResult.columns[1]}}</th>     
			<th md-column md-numeric wordResult >{{wordResult.columns[2]}}</th>     
        </tr>
        </thead>
        <tbody md-body>
        <tr ng-click="ctrl.selectWord(items)" md-row ng-repeat="items in wordResult.values">
            <!--<td md-cell ng-repeat="item in items">{{item}}</td>                     -->
			<td md-cell >{{items[1]}}</td>                    
			<td md-cell >{{items[2]}}</td>                    
        </tr>
        </tbody>
    </table>
    </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{'5500'}}" md-on-paginate="getItems" ></md-table-pagination>	
	</div>

	<!--col-md-5 end//-->

	<div flex-sm="50" flex-gt-sm="50" class="right-info"  ng-show="selectedWord">
	  <h3>{{selectedWord.wordname}} </h3>
	  <p>
	  英{{selectedWord.phonetic[0]}} &nbsp;&nbsp; 美{{selectedWord.phonetic[1]}}
	   <md-button class="md-secondary md-icon-button" ng-click="ctrl.play(selectedWord.id,selectedWord.wordname)" ng-mouseover="ctrl.play(selectedWord.id,selectedWord.wordname)" aria-label="call">
	  <md-icon class="material-icon">queue_music</md-icon>
	   </md-button>
	  </p>
	  <p>
	  {{selectedWord.desc}}
	  </p>
	<h3 ng-show="selectedWord">词组短语 </h3>
		<md-list>
	  <md-list-item class="md-2-line" ng-repeat="wordgroup in selectedWord.wordGroup" ng-click="ctrl.speak(wordgroup)" >
	  <!--<md-button> {{wordgroup}}	 </md-button>-->
	  <div class="md-list-item-text" >{{wordgroup}}</div>
	  </md-list-item>
	</md-list>
	<h3 ng-show="selectedWord">双语列句 </h3>

	<md-list>
	  <md-list-item class="md-3-line" ng-repeat="exp in selectedWord.example" ng-click="ctrl.speak(exp)">
	<div class="md-list-item-text">
	<p>
	{{exp}}
	</p>
	 </div>
	  </md-list-item>
	</md-list>

	</div>
	


	</div>
<!--row end-->

  <!--<div flex layout-gt-sm="row" layout-sm="column" layout-align="center">
	  <h3>{{selectedWord[1]}} </h3>
	  <p>
	  {{selectedWord[2]}}
	  </p>
  </div>-->

   <!--<centered ng-show="spellWordName">-->
    <div class="spell-word title-h typing">
     {{ spellWordName }}
    </div>
  <!--</centered>-->
 
  
</div>
 
