<md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>Comment Actions</md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in $sheetCtrl.items">
      <md-button
          ng-click="$sheetCtrl.listItemClick($index)"
          md-autofocus="$index == 2"
          class="md-list-item-content" >
      <md-icon class="material-icons">{{item.icon}}</md-icon>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>